{% extends "base.html" %}

{% block content %}

  <!--<img src="../static/img/yamarrr.png" width="374" height="69" alt="Yamarrr!" />-->

  <div class="alert alert-success hide">The user was added successfully.</div>
  <div class="alert alert-error hide">You failed to add the user.</div>

  <h2>Status</h2>
  <ul id="users">
    <li>
      <h3>Foo Barsky</h3> 
      <table id="status" class="table table-bordered table-striped responsive-utilities">
        <tr>
          <th class="service">Service</th>
          <th class="status">Status</th>
        </tr>
        <tr>
          <td>One Login</td>
          <td class="status"><div class="status running"></div></td>
        </tr>
        <tr>
          <td>Google Apps</td>
          <td class="status"><div class="status running"></div></td>
        </tr>
        <tr>
          <td>Yammer</td>
          <td class="status"><div class="status running"></div></td>
        </tr>
      </table>
    </li>
    <li>
      <h3>Jed Smith</h3> 
      <table id="status" class="table table-bordered table-striped responsive-utilities">
        <tr>
          <th class="service">Service</th>
          <th class="status">Status</th>
        </tr>
        <tr>
          <td>One Login</td>
          <td class="status"><div class="status running"></div></td>
        </tr>
        <tr>
          <td>Google Apps</td>
          <td class="status"><div class="status completed"></div></td>
        </tr>
        <tr>
          <td>Yammer</td>
          <td class="status"><div class="status error"></div></td>
        </tr>
      </table>
    </li>
  </ul>

{% endblock %}
